* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  font-size: 0.38rem;
}

.wrap header {
  width: 100%;
  height: 1rem;
  background: #02C4AC;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.3rem;
}

.wrap header .one {
  padding: 0 0.1rem;
}

.wrap header .one .icon-xiangxia {
  font-size: 0.12rem;
}

.wrap header .two {
  display: block;
  background: #06A495;
  padding: 0 0.08rem;
  width: 60%;
  border-radius: 5px;
}

.wrap header .two i {
  font-size: 0.05rem;
}

.wrap header .two input {
  border: none;
  background: none;
  height: 0.6rem;
  width: 70%;
}

.wrap header .two input::-webkit-input-placeholder {
  color: white;
  font-size: 0.12rem;
}

.wrap header .three {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap header .three .icon-wode {
  text-align: center;
}

.wrap header .three .my {
  font-size: 0.12rem;
}

.wrap section {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.wrap section .big {
  width: 100%;
  height: 3rem;
}

.wrap section .big > img {
  display: block;
  width: 100%;
}

.dl {
  width: 100%;
}

.dl ul {
  width: 100%;
}

.dl ul li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dl ul li dl {
  width: 17%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.dl ul li dl dt {
  text-align: center;
}

.dl ul li dl dt img {
  width: 45px;
  height: 45px;
}

.dl ul li dl dd {
  text-align: center;
  font-size: 12px;
}
