            * {
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
            
            section {
                margin-top: 20px;
                width: 100%;
                .one {
                    width: 97%;
                    height: 30px;
                    line-height: 30px;
                    margin-left: 3%;
                }
                dl {
                    width: 97%;
                    border-top: 1px solid #f3f1ed;
                    margin-left: 3%;
                    height: 120px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    dt {
                        img {
                            width: 130%;
                            height: auto;
                        }
                    }
                    dd {
                        margin-left: 8%;
                        p {
                            &:nth-child(1) {
                                margin-bottom: 5px;
                                font-size: 16px;
                            }
                            &:nth-child(2) {
                                font-size: 14px;
                            }
                            &:nth-child(3) {
                                margin-top: 10px;
                                font-size: 14px;
                            }
                            span {
                                color: #33ccbd;
                                font-size: 20px;
                            }
                        }
                        label {
                            font-size: 14px;
                            position: absolute;
                            top: 60%;
                            right: 3%;
                        }
                    }
                }
                .nav-capsule {
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    .spec {
                        flex-basis: 20%;
                        text-align: center;
                        .navImg {
                            width: 71%;
                        }
                        .navTit {
                            width: 100%;
                            line-height: 28px;
                            color: rgb(102, 102, 102);
                        }
                    }
                }
                .swiper-pagination {
                    margin-left: 50%;
                }
            }