* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
}

section {
  margin-top: 60px;
  width: 100%;
}

section .swiper-container {
  width: 100%;
}

section .seiper-wrapper {
  width: 100%;
}

section .swiper-pagination {
  margin-left: 48%;
}

section .nav-capsule {
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
}

section .nav-capsule .spec {
  flex-basis: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .nav-capsule .spec .navImg {
  width: 100%;
}

section .nav-capsule .spec .navTit {
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
}

section .one {
  width: 97%;
  height: 30px;
  line-height: 30px;
  margin-left: 3%;
}

section dl {
  width: 97%;
  border-top: 1px solid #f3f1ed;
  margin-left: 3%;
  height: 120px;
  display: flex;
  align-items: center;
  position: relative;
}

section dl dt img {
  width: 130%;
  height: auto;
}

section dl dd {
  margin-left: 8%;
}

section dl dd p:nth-child(1) {
  margin-bottom: 5px;
  font-size: 16px;
}

section dl dd p:nth-child(2) {
  font-size: 14px;
}

section dl dd p:nth-child(3) {
  margin-top: 10px;
  font-size: 14px;
}

section dl dd p span {
  color: #33ccbd;
  font-size: 20px;
}

section dl dd label {
  font-size: 14px;
  position: absolute;
  top: 60%;
  right: 3%;
}

section .nav-capsule {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

section .nav-capsule .spec {
  flex-basis: 20%;
  text-align: center;
}

section .nav-capsule .spec .navImg {
  width: 71%;
}

section .nav-capsule .spec .navTit {
  width: 100%;
  line-height: 28px;
  color: #666666;
}

section .swiper-pagination {
  margin-left: 50%;
}
